.badge {
    display: flex;
    position: relative;
  }
  
  .badge-online-profile {
    position: absolute;
    background-color: var(--success-color);
    border: 2px solid white;
    border-radius: 50%;
    top: 4.5rem;
    left: 4.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  
  .badge-offline-profile {
    position: absolute;
    background-color: var(--danger-color);
    border: 2px solid white;
    border-radius: 50%;
    top: 4.5rem;
    left: 4.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  
  /* Number Badges */
  
  .notification {
    position: relative;
    margin: 0 0.625rem;
  }
  
  .notification .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: -5px;
    position: absolute;
    font-size: 0.7rem;
    color: white;
    font-weight: 700;
    height: 18px;
    width: 18px;
    border: none;
    background-color: var(--success-color);
    border-radius: 50%;
  }
  